{% extends "layout.html" %}
{% block subtitle %}Analyze results{% endblock %}

{% block curves %}
<div class="row">
  <div class="col-md-5">
    <dl class=files>
      <dt>View and Download files:</dt>
      <dd>(To download, right-click and select "Save as")</dd>
	{% for file in files %}
	<dd><a href="{{ file['url'] }}">{{ file['name'] }}</a></dd>
	{% endfor %}
	<br/>
      <dt>Download zip archive:</dt>
      <dd>
	<form action="{{ url_for('makezip') }}" method=get>
	  <label for="prefix">file name:</label>
	  <input id="prefix" type=text size=10 name="prefix" value="output" />
	  &nbsp;<input type=submit value="Download zip" /></form></dd>
    </dl>

<div id="plots" class="carousel" data-ride="carousel" data-interval="">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for variable in "shear stretch stagger buckle propeller opening shift slide rise tilt roll twist".split() %}
    <div class="item {% if variable == 'twist' %} active {% endif %}">
      <img src="/plot/{{ variable }}" alt="{{ variable|capitalize }}">
      <div class="carousel-caption">{{ variable|capitalize }}</div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="l ccontrol" href="#plots" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="r ccontrol" href="#plots" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
  <div class="col-md-7" style="border: 2px solid black;">
    <h3>3D Viewer</h3>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>
{% endblock %}
