{% extends "layout.html" %}
{% block subtitle %}Backbone parameter guide{% endblock %}

{% block curves %}
  <div class="row">
    <div class="col-sm-6">
      <h3>Translation</h3>
      <img style="width:90%" src="{{url_for('.static', filename='img/translation.png')}}"/>
    </div>
    <div class="col-sm-6">
      <h3>Rotation</h3>
      <img style="width:85%" src="{{url_for('.static', filename='img/rotation.png')}}"/>
    </div>
  </div>
<br/><br/>
<div> *all images are viewed from the minor groove and show the positive sense of each parameter </div>
{% endblock %}
