{% extends "layout.html" %}
{% block subtitle %}{% endblock %}

{% block curves %}
<div class="row">
  <div class="col-sm-4">
    <p>Curves+ is a revised version of the Curves approach for analysing the structure of nucleic acids. It respects the international conventions for nucleic acid analysis, runs much faster and provides new data.</p>
    <p>As well as treating single nucleic acid structures, Curves+, with the help of Canal, can analyse molecular dynamics trajectories and generate time series, time averaged properties and search for correlations between variables.</p>
    <p>In conjunction with Canion, Curves+ can now be used to analyze the distribution of ions or molecules around nucleic acids in curvilinear helicoidal coordinates.</p>
    <p>
      Updates: 2/15<br/>
      Canal + user guide<br/>
      Canion + user guide<br/>
      Updates: 10/16<br/>
      Curves+_v3.0 + user guide<br/>
      Canal_v1.5 + user guide<br/>
      Canion_v3.5 + user guide<br/>
    </p>
  </div>
  <div class="col-sm-4">
    <img src="/static/img/shape_pic1.png" width="80%" class="shadow" />
    <img src="/static/img/AAAA.png" width="80%" class="shadow marginl" />
  </div>
  <div class="col-sm-4">
    <img src="/static/img/TBP1.jpg" width="70%" class="shadow" />
  </div>
</div>
{% endblock %}
