{% extends "layout.html" %}
{% block subtitle %}Defining the bases in each strand{% endblock %}

{% block curves %}
Nucleotide numbers within one strand can be given as a list e.g. 1 2 3 4 …..
Consecutive numbers from M to N can be given using the bracket notation M:N
Bracket and list notations can be mixed within one strand
Bases not to be used for calculating the helical axis are indicated by a negative sign
Missing nucleotides/bases are indicated by a zero
Paired bases must appear in equivalent positions in each strand
Base numbers used by Curves+ refer to their order of appearance in the input PDB file
(and not their PDB unit numbers) and note that anything other than nucleic acids is ignored
e.g. in 1KX5.pdb (a nucleosome) the last two chains in the PDB file (I,J) are the DNA, the unit
numbers in each strand are -73 to +73, but the Curves+ input is 1:147 for the first strand (5’-3’)
and 294:148 for the second strand (3’-5’). Note base 1 is paired to base 294, 2 to 293, etc.

<br/>
<br/>

<table>
<tr><th>Fit:</th><td>         if T a standard base conformations are fitted to the I/P coordinates (recommended)</td></tr>
<tr><th>Circ:</th><td>      set T to analyze circular DNA</td></tr>
<tr><th>Line:</th><td>      set T to find optimal linear helical axis (not compatible with Zaxe=T)</td></tr>
<tr><th>Zaxe:</th><td>     set T to use Cartesian Z-axis as helical axis (not compatible with Line=T)</td></tr>
<tr><th>Refo:</th><td>     set T to use old base reference system (pre-Tsukuba convention)</td></tr>
<tr><th>Test:</th><td>      set T for more detailed test output including helical axis vectors and ref. points</td></tr>
<tr><th>Back:</th><td>    atom used to define backbone splines (default P, can be any backbone atom)</td></tr>
<tr><th>Wback:</th><td> width of backbone (default 2.9 - used in calculating groove width, depends on ‘Back’)</td></tr>
<tr><th>Wbase:</th><td> ½ width of base pair (default 3.5 - used in calculating groove depth)</td></tr>
</table>

{% endblock %}
