{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
{{google.uanalytics('UA-47865400-1')}}
{% endblock %}

{% block navbar %}
{{nav.navbar.render()}}
{% endblock %}

{% block content %}
<h1>Curves+ web server</h1><h2>{% block subtitle %}{% endblock %}</h2>
<div class=page>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block curves %}{% endblock %}
</div>
<!-- Footer -->
<footer class="lopad">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p>Copyright &copy; Richard Lavery 2015<br/>
	  <a href="mailto:r.lavery at ibcp dot fr">Contact</a> - 
          <a class="not-a" href="http://creativecommons.org/licenses/by/4.0">Some rights reserved</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->
{% endblock %}
