{% extends "layout.html" %}
{% block title %}Prepare and submit analysis{% endblock %}
{% block body %}
{% if form.errors %}
<ul class="errors">
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
  <li>{{ form[field_name].label }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
</ul>
{% endif %}

<script>
  function example_data() {
  document.getElementById("pdbid").value = "1BNA";
  document.getElementById("strands-0-nucleotides").value = "1:6";
  document.getElementById("strands-1-nucleotides").value = "24:19";
  }
</script>
<a href="javascript: example_data();">example data</a> <br/>
<form action="{{ url_for('analyse') }}" method=post class=prepare>
  <dl>
    <dd>{{ form.pdbfile.label }}: {{ form.pdbfile }}</dd>
    <dd>{{ form.pdbid.label }}: {{ form.pdbid(size=4) }}</dd>
    
    <!-- strands -->
    <dt>Nucleotides:</dt>
    <dd>
      <dl class=level2>
	{% for strand in form.strands %}
	<dt>Strand {{ loop.index }}:</dt>
	<dd><dl class=level2>
	    <dd>{{ strand.nucleotides(size=30) }}</dd>
	    {% for choice in strand.direction %}
	    <dd>{{ choice }}</dd>
	    {% endfor %}
	</dl></dd>
	{% endfor %}
      </dl>
    </dd>
  </dl>
  
  <!-- flags -->
  <dl>
    {% for field_name in form.boolean_fields %}
    {% set field = form[field_name] %}
    <dd>{{ field.label }}: {{ field() }}</dd>
    {% endfor %}
    <dd>{{ form.back.label }}: {{ form.back(size=4) }}</dd>
    <dd>{{ form.wback.label }}: {{ form.wback(size=5) }}</dd>
    <dd>{{ form.wbase.label }}: {{ form.wbase(size=5) }}</dd>
  </dl>

  {{ form.csrf_token }}
  <input type=submit value=Submit>
</form>
{% endblock %}
