{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Prepare and submit analysis{% endblock %}
{% block curves %}
{% if form.errors %}
  <dl class=errors>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
    <dd class="alert alert-danger alert-dismissible" role="alert">{{ form[field_name].label }}: {{ error }}</dd>
      {% endfor %}
    {% endfor %}
  </dl>
{% endif %}

<form action="{{ url_for('analyse') }}" method=post class=prepare enctype=multipart/form-data>
  <div class="row">
    <div class="col-sm-8">
      <dl>
    <dd>{{ wtf.form_field(form.pdbfile) }}</dd>
    <dd>or {{ wtf.form_field(form.pdbid, size=5) }}</dd>
    
    <!-- strands -->
    <br/>
    <dt>Nucleotides:</dt>
    <dd>
      <table class="nucleotides">
	<tr>
	  <th>Strand</th>
	  <th>Subunits</th>
	  <th>&nbsp;5'-3'</th>
	  <th>&nbsp;3'-5'</th>
	</tr>
	{% for strand in form.strands %}
	<tr>
	  <td>#{{ loop.index }}</td>
	  <td>{{ strand.nucleotides(size=30, class='form-control', value='') }}</td>
	    {% for choice in strand.direction %}
	    <td>{{ choice(class='form-control') }}</td>
	    {% endfor %}
	</tr>
	{% endfor %}
      </table>
    </dd>
  </dl>
    </div>
    <div class="col-sm-4">
      <h4>Parameters</h4>
  <!-- flags -->
  <dl>
    {% for field_name in form.boolean_fields %}
    {% set field = form[field_name] %}
    <dd>{{ wtf.form_field(field) }}</dd>
    {% endfor %}
    <dd>{{ wtf.form_field(form.back, size=4) }}</dd>
    <dd>{{ wtf.form_field(form.wback, size=5) }}</dd>
    <dd>{{ wtf.form_field(form.wbase, size=5) }}</dd>
    <dd>{{ wtf.form_field(form.naxlim, size=3) }}</dd>
    <dd>{{ wtf.form_field(form.rvfac, size=3) }}</dd>
  </dl>
    </div>
  </div>
  {{ form.csrf_token }}
  {{ wtf.form_field(form.viewer) }}
  <input type=submit value=Submit>
</form>
<br/>
<script>
  function sample_data_1() {
  document.getElementById("pdbid").value = "1BNA";
  document.getElementById("strands-0-nucleotides").value = "1:12";
  document.getElementById("strands-1-nucleotides").value = "24:13";
  }
  function sample_data_2() {
  document.getElementById("pdbid").value = "1CDW";
  document.getElementById("strands-0-nucleotides").value = "1:16";
  document.getElementById("strands-1-nucleotides").value = "32:17";
  }
  function sample_data_3() {
  document.getElementById("pdbid").value = "1KX5";
  document.getElementById("strands-0-nucleotides").value = "1:147";
  document.getElementById("strands-1-nucleotides").value = "294:148";
  }
</script>
<a href="javascript: sample_data_1();">sample data: Drew-Dickerson dodecamer</a> <br/>
<a href="javascript: sample_data_2();">sample data: TATA-binding protein core domain</a> <br/>
<a href="javascript: sample_data_3();">sample data: Nucleosome core particle</a> <br/>

{% endblock %}
