{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Prepare and submit analysis{% endblock %}
{% block curves %}
{% if form.errors %}
<ul class="error">
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
  <li>{{ form[field_name].label }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
</ul>
{% endif %}

<form action="{{ url_for('analyse') }}" method=post class=prepare enctype=multipart/form-data>
  <dl>
    <dd>{{ wtf.form_field(form.pdbfile) }}</dd>
    <dd>{{ wtf.form_field(form.pdbid, size=4) }}</dd>
    
    <!-- strands -->
    <dt>Nucleotides:</dt>
    <dd>
      <table class="nucleotides">
	<tr>
	  <th />
	  <th>Subunits</th>
	  <th>5'-3'</th>
	  <th>3'-5'</th>
	</tr>
	{% for strand in form.strands %}
	<tr>
	  <td>Strand {{ loop.index }}:</td>
	  <td>{{ strand.nucleotides(size=30, class='form-control') }}</td>
	    {% for choice in strand.direction %}
	    <td>{{ choice(class='form-control') }}</td>
	    {% endfor %}
	</tr>
	{% endfor %}
      </table>
    </dd>
  </dl>
  
  <!-- flags -->
  <dl>
    {% for field_name in form.boolean_fields %}
    {% set field = form[field_name] %}
    <dd>{{ wtf.form_field(field) }}</dd>
    {% endfor %}
    <dd>{{ wtf.form_field(form.back, size=4) }}</dd>
    <dd>{{ wtf.form_field(form.wback, size=5) }}</dd>
    <dd>{{ wtf.form_field(form.wbase, size=5) }}</dd>
  </dl>

  {{ form.csrf_token }}
  <input type=submit value=Submit>
</form>
<script>
  function example_data() {
  document.getElementById("pdbid").value = "1BNA";
  document.getElementById("strands-0-nucleotides").value = "1:6";
  document.getElementById("strands-1-nucleotides").value = "24:19";
  }
</script>
<a href="javascript: example_data();">example data</a> <br/>

{% endblock %}
