/* general */
body {font-size: large; padding-left: 5px; padding-right: 5px; max-width: 940px; }
h1 { color: #7a002f;}
h2 { text-decoration: underline; }
.lopad {font-size: small; margin-top: 25px;}

/* form */
form dl { float: left; padding-right: 50px; }
form dt { margin-right: 10px; }
form dd { margin-left: 5px; }
.form-control {width: auto; display: inline;}
.nucleotides {margin: 5px;}
.nucleotides td {padding-left: 10px;}
.nucleotides th {text-align: center;}
input[type=radio] {height: auto;}

/* carousel */
.carousel-caption {color: black; text-shadow: none; padding-bottom: 8%;}
.ccontrol, .ccontrol:hover, .ccontrol:focus {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:15%;
    font-size:20px;
    color:black;
    text-align:center;
}
.ccontrol.l {}
.ccontrol.r {right:0; left:auto;}
select.ccontrol, select.ccontrol:hover, select.ccontrol:focus {
    left: 50%; 
    width: auto;
    transform: translate(-50%, 0);
}


/* navbar */
.navbar {background-color: #7a002f;}
.navbar .container-fluid {margin-bottom: 5px; border-bottom: 1px solid white;
			    margin-top: 5px; border-top: 1px solid white;}
.navbar-default .navbar-nav>li>a {color: #bbb;}
.navbar-default .navbar-nav>li>a:hover {color: white;}
.navbar-default .navbar-brand {color: white;}
.navbar-default .navbar-brand:focus,
 .navbar-default .navbar-brand:hover {color: white;}
.dropdown-menu>.active>a,
 .dropdown-menu>.active>a:focus,
 .dropdown-menu>.active>a:hover {background-color: #7a002f; }
.navbar-default .dropdown-menu>.active>a:hover {color: white;}

/* navbar: mobile */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #bbb;
    }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
}


/* publication list */
.volume { font-weight: bold; }
.journal { font-style: italic; }
ol.publist {
    font-weight: bold;
    color: #f00
}
ol.publist > li {
    font-weight: normal;
    color: #000;
}
#bibtex_input { display: none; }

